body,#app {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    -webkit-print-color-adjust: exact;
}
/* ヘッダー */
#header {
    height: 7%;
    background-color: #D70087;
    display: flex;
    align-items: center;
}
/* タイトル */
#header-title{
    padding-left: 50px;
}
#title{
    color: #fff;
    font-family: 'M PLUS 1p', sans-serif;
    letter-spacing: 3px;
}
/* ボタン */
#list-button{
    margin-left: auto;
    padding-right: 30px;
}
.list-title{
    font-family: 'M PLUS 1p', sans-serif;
}
/* /ヘッダー */
/* コンテンツ */
#content-area {
    height: 93%;
}
/* /コンテンツ */